.appointments--container{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}


.appointments__buttons--container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.appointments__buttons--icon{
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: none;

}